@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

:root {
  // Primary

  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  // Secondary

  --red: hsl(0, 87%, 67%);

  // Neutral

  --gray: hsl(0, 0%, 75%);
  --light-gray: #F0F1F6;
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

* {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}

body {
  margin: 0;
}

#app {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

.wrraper {
  margin: 0 10vw;
}
